<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.hitcents.SmallerBackbuffer">
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <uses-sdk android:targetSdkVersion="16" android:minSdkVersion="8" />
  <application android:label="SmallerBackbuffer" android:hardwareAccelerated="true" />
  <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest>